html, body{
    width: 100%;
    height: 100%;
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    --red: #c1121f;
    --green: #5E8B60;
    --green2: #3a5a40;
    --cinza: #282729;
    --cinza2: #2B3035;
    --black-alt: #202020;
    --blue: #023047;
    --violet: #8338ec;
    --orange: #fb8500;
    --brow: #bc6c25;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 250px;
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input[type="number"],
.form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
}

.form input[type="number"]:focus,
.form input[type="password"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

.form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

.form .submit:hover {
    background-color: var(--clr);
    color: white;
}

::-webkit-scrollbar{
    width: 0px;
}

.span {
    text-decoration: none;
    color: var(--bg-dark);
}

.span a {
    color: var(--clr);
}

.mobilebar{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: var(--black-alt);
}

.dropdown-item:hover, .dropdown-item:active{
    background: var(--green);
}

.dp-exit:hover, .dp-exit:active{
    background: var(--red);
}

.menu_desktop .nav-link:hover{
    background: var(--green);
}

@media only screen and (max-width: 500px) {
    .mobile-hide{ display: none !important; }
}

@media only screen and (max-width: 500px) {
    .mobile{ display: inline !important; }
}

@media only screen and (min-width: 500px) {
    .mobile{ display: none !important; }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 100px; /* 30px from the bottom */
    border-radius: 20px;
}
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none; 
}

#goToTheButton{
    position: fixed;
    background-color: var(--green);
    font-size: 3vh;
    display: flex;
    text-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 1px;
    right: 5px;
    border-radius: 50%;
    color: #fff;
}

/* From Uiverse.io by Donewenfu */ 
.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: green;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: 0.16s !important;
    animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {
    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 var(--green)
        ;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px var(--green)
        ;
        height: 40px;
    }
    }

    @keyframes loading-keys-app-loading {

    0%,
    80%,
    100% {
        opacity: .75;
        box-shadow: 0 0 var(--green);
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px var(--green);
        height: 40px;
    }
}


  /* From Uiverse.io by victoryamaykin */ 
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3C3C3C;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--green2);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--green);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(68px);
}

/*------ ADDED CSS ---------*/
.slider:after {
    content: 'Não';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    content: 'Sim';
}

/*--------- END --------*/


/*Theme the Tabulator element*/
#tb_vendas{
    background-color:#333;
    border: 1px solid #333;
    border-radius: 10px;
}

/*Theme the header*/
#tb_vendas .tabulator-header {
    background-color:#333;
    color:#fff;
}

/*Allow column header names to wrap lines*/
#tb_vendas .tabulator-header .tabulator-col,
#tb_vendas .tabulator-header .tabulator-col-row-handle {
    white-space: normal;
    background: #111;
}
#tb_vendas .tabulator-paginator {
    white-space: normal;
    background: #111;
    color: white;
}

#tb_vendas .tabulator-paginator button{
    white-space: normal;
    background: #111;
    color: white;
}

.tabulator .tabulator-footer {
  background-color: #111; /* Cor de fundo desejada */
  color: white;              /* Cor do texto */
}


/*Color the table rows*/
#tb_vendas .tabulator-tableholder .tabulator-table .tabulator-row{
    color:#fff;
    background-color: #333;
}

/*Color even rows*/
    #tb_vendas .tabulator-tableholder .tabulator-table .tabulator-row:nth-child(even) {
    background-color: #444;
}
